/* RESET GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* FUENTE GLOBAL */
body {
    background-color: white;
    font-family: sans-serif;
}

/* LINKS */
a, li {
    color: rgb(3, 0, 0);
}

/* HEADER */
header {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-header img {
    width: 80px;
}

/* NAV */
.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 8rem;
}

.nav-menu a:hover {
    color: #027ba3;
}

.nav-menu li:last-child {
    background-color: #027ba3;
    border: 2px solid #027ba3;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
}

.nav-menu li:last-child:hover {
    background: transparent;
    border: 2px solid #027ba3;
    color: #027ba3;
}

/* HERO SECTION */
.hero {
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding: 2rem;
    background: url('img/fondo.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* TEXTO PERSONALIZADO */
.text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.20rem; /* ≈ 6pt */
    line-height: 1.6;
    margin-bottom: 2rem;
}

.titulo-bienvenida {
    font-style: italic;
}
